<!doctype html>
<html lang="en">
  {% include "partial/head.html.twig" %}
  <body class="d-flex flex-column min-vh-100">
    {% include "partial/navigation.html.twig" %}
    <div class="container my-4" style="color:#f7a49e">
      <h3>We found {{total}} items</h3>
    </div>

    <div class="container" style="color:#5e6472">
     {% for item in result %}
      <div class="row my-3">
        <a href="place_details.php?id={{item.place_id}}">• {{item.place_name}}</a>
      </div>
     {% endfor %}
    </div>
   {% include "partial/footer.html.twig" %}
   {% include "partial/script.html.twig" %}
  </body>
</html>