.place-image {
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}


/* add just footer */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}